<div class="flex row">
  <div class="md:w-1/6"></div>
  <app-left-nav-bar></app-left-nav-bar>
  <!-- Main content -->
  <div class="md:min-w-4/6 flex justify-center">
    <!-- Feed -->

    <div
      class="flex flex-col md:w-4/6 ml-5 mr-5 text-neutral-900 dark:text-neutral-200"
    >
      <div
        class="flex items-center px-4 py-2 dark:bg-neutral-900 sticky top-[53px] md:top-[57px]"
      >
        <h2
          class="text-lg 2 font-semibold text-neutral-900 dark:text-neutral-200 xl:fixed left-1/2 xl:transform xl:-translate-x-1/2"
        >
          Câu hỏi mới nhất
        </h2>
        <!-- drop down -->

        <!-- drop down end -->
        <app-paginator class="ml-auto"></app-paginator>
      </div>

      <div
        class="border-t border-neutral-300 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700 sticky md:top-[112px] top-[107px]"
      ></div>
      <div
        class="flex gap-5 p-5 border-b border-l border-r border-neutral-300 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700"
      >
        <div class="text-neutral-500 flex items-center gap-x-3 gap-y-1">
          <div class="text-sm md:text-base">
            <span class="text-lg font-semibold">Chào mừng bạn quay trở lại</span
            ><br />
            Hãy hỏi về vấn đề học tập, hoặc chia sẻ câu trả lời cùng mọi người
          </div>
        </div>
      </div>
      <div
        class="flex gap-5 p-5 border-b border-l border-r border-neutral-300 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700"
      >
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold">
            Intensive webview cause app's cpu drop down
          </h1>
          <p>
            I am a front-end developer and I want to monitor webview
            performance. I have two scenarios: Use deeplink to jump directly to
            my webview page Monitor app's main process's cpu by top
          </p>
          <div class="flex flex-row gap-10 mt-3 ml-3">
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
                />
              </svg>

              <span>74</span>
            </div>

            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                />
              </svg>
              <span>74</span>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
              <span>100</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex gap-5 p-5 border-b border-l border-r border-neutral-300 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700"
      >
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold">
            Intensive webview cause app's cpu drop down
          </h1>
          <p>
            I am a front-end developer and I want to monitor webview
            performance. I have two scenarios: Use deeplink to jump directly to
            my webview page Monitor app's main process's cpu by top
          </p>
          <div class="flex flex-row gap-10 mt-3 ml-3">
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
                />
              </svg>

              <span>74</span>
            </div>

            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                />
              </svg>
              <span>74</span>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
              <span>100</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex gap-5 p-5 border-b border-l border-r border-neutral-300 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700"
      >
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold">
            Intensive webview cause app's cpu drop down
          </h1>
          <p>
            I am a front-end developer and I want to monitor webview
            performance. I have two scenarios: Use deeplink to jump directly to
            my webview page Monitor app's main process's cpu by top
          </p>
          <div class="flex flex-row gap-10 mt-3 ml-3">
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
                />
              </svg>

              <span>74</span>
            </div>

            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                />
              </svg>
              <span>74</span>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
              <span>100</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex gap-5 p-5 border border-neutral-300 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700"
      >
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold">
            Intensive webview cause app's cpu drop down
          </h1>
          <p>
            I am a front-end developer and I want to monitor webview
            performance. I have two scenarios: Use deeplink to jump directly to
            my webview page Monitor app's main process's cpu by top
          </p>
          <div class="flex flex-row gap-10 mt-3 ml-3">
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
                />
              </svg>

              <span>74</span>
            </div>

            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                />
              </svg>
              <span>74</span>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
              <span>100</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex gap-5 p-5 border border-neutral-300 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700"
      >
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold">
            Intensive webview cause app's cpu drop down
          </h1>
          <p>
            I am a front-end developer and I want to monitor webview
            performance. I have two scenarios: Use deeplink to jump directly to
            my webview page Monitor app's main process's cpu by top
          </p>
          <div class="flex flex-row gap-10 mt-3 ml-3">
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
                />
              </svg>

              <span>74</span>
            </div>

            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                />
              </svg>
              <span>74</span>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
              <span>100</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex gap-5 p-5 border border-neutral-300 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700"
      >
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold">
            Intensive webview cause app's cpu drop down
          </h1>
          <p>
            I am a front-end developer and I want to monitor webview
            performance. I have two scenarios: Use deeplink to jump directly to
            my webview page Monitor app's main process's cpu by top
          </p>
          <div class="flex flex-row gap-10 mt-3 ml-3">
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
                />
              </svg>

              <span>74</span>
            </div>

            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                />
              </svg>
              <span>74</span>
            </div>
            <div class="flex flex-row gap-1 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
              <span>100</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside
    id="fb-left-sidebar"
    class="hidden md:block hs-overlay hs-overlay-open:translate-x-0 -translate-x-full static start-0 z-50 md:z-auto md:w-1/6 h-dvh md:h-[calc(100dvh-3rem)] bg-white dark:bg-neutral-900 border-neutral-200 dark:border-neutral-800 transition-transform duration-300 md:translate-x-0"
    aria-label="Left navigation"
  ></aside>
</div>
